@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&display=swap');
// sass assets/scss:assets/css --watch --style=compressed

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

header{
    box-shadow: 0px 0px 10px 0px #00000040;
    float: left;
    height: 2508px;
}
    .side-menu{
        width: 220px;
        height: 68px;
        margin: 0 auto;
        display: flex;
        color: #fff;
        background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        position: fixed;
    
    h1{
        padding-top: 24px;
        align-items: center;
        text-align: center;
    }
    img{
        margin-top: 15px; 
    }
    a{
        display: flex;
        flex-direction: column;
        color: #725C5C;
        text-align: left;
        padding: 14px 24px;
        text-decoration: none;
        font-size: 15px;
        text-transform: none;
        
    }
    a:hover {
        background-color: #FDF1EB;
        border-left: 5px solid;
        border-left-color: #ED7839;
    }
    a.active {
        background-color: #FDF1EB;
        border-left-style: solid;
        border-left-color: #ED7839;
    }
}


.main{
    max-width: 1146px;
    width: 100%;
    height: 68px;
    margin: 0 auto;
    margin-left: 220px;
    background: #FDF1EB;
    position: absolute;
    
    p{
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #725C5C;
        padding: 5px 0px 2px 36px;
    }
    h2{
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 36px;
        color: #725C5C;
    }
    a{
        position: absolute;
        width: 97px;
        height: 34px;
        margin-left: 788px;
        margin-top: -55px;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        text-transform: uppercase;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        font-family: 'Quicksand';
        font-size: 14px;
        font-weight: 400;
        color: #333;
        padding: 8px;
    }
    &__login{
        width: 100%;
        height: 34px;
        margin-left: 1057px;
        margin-top: -55px;
        display: flex;
        
        a{
            text-transform: none;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 400;
            border: none;
            border-radius: none;
            font-size: 12px;
            line-height: 15px;
            left: 150px;
            top: 82px;
            text-align: right;
            color: #333333;
        }
        img{
            border-radius: 50px;
            margin-left: 1px;
        }
        p{
            font-family: 'Quicksand';
            font-size: 14px;
            color: #333333;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: right;
            margin-left: -96px;
        }
    }
}

.content{
    height: 235px;
    width: 1607px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        margin-right: 100px;
        letter-spacing: 0.05em;
        color: #ED7839;
    }
    &__button a:last-child{
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        color:#ED7839;
        height: 24px;
        margin: 0 auto;
        letter-spacing: 0.05em;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        flex-direction: column;
    }
}
.video{
    display: flex;
    height: 439px;
    width: 784px;
    margin-left: 255px;
    margin-top: -66px;
    
    p{
        height: 54px;
        margin-left: 34px;
        margin-right: -1px;
        margin-top: -415px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        position: relative;
    }
    h1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 34px;
        line-height: 25px;
        position: relative;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        height: 36px;
        width: 452px;
        margin-left: 135px;
        margin-top: 239px;
    }
    h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.05em;
        position: relative;
        margin-left: 137px;
        margin-top: -5px;
        color: #FFFFFF;
    }
    img:nth-last-child(1){
        position: relative;
        margin-left: 32px;
        margin-top: -99px;
    }
    &__play{
    position: relative;
    height: 439px;
    width: 784px;
}

    &__play::before{
        background: rgba(141, 53, 6, 0.5);
        border-radius: 3px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        content: '';
 
}
}
.detail{
    position: absolute;
    max-width: 242px;
    width: 100%;
    margin: 0 auto;
    height: 439px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    margin-left: 832px;
    
    &__info{
        background: #FDF1EB;
        border: 1px solid #ECECEC;
        border-radius: 3px 3px 0px 0px;
        width: 242px;
        height: 45px;
        align-items: center;
        display: flex;
        h3{
            color: #4E4E4E;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
        }
    }
    &__scroll{
        display: flex;
        height: 364px;
        width: 100%;
        max-width: 212px;
        align-items: center;
        margin-left: -196px;
        
        p{
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            margin-top: 440px;
            letter-spacing: 0.02em;
            color: #5C5C5C;
            margin-left: -19px;
            height: 364px;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
        }
        
        span{
            scroll-snap-align: start;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 400;
            line-height: 16.8px;
            font-size: 14px;
            margin-top: 442px;
            letter-spacing: 0.02em;
            color: #5C5C5C;    
        }
        
    }
}

.resume{
    display: flex;
    max-width: 1058px;
    height: 45px;
    margin: 0 auto;

    &__title{
        width: 1058px;
        height: 45px;
        margin-left: -786px;
        margin-top: 480px;
        background: #FDF1EB;
        border: 1px solid #ECECEC;
        border-radius: 3px 3px 0px 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        color: #4E4E4E;
        padding-left: 10px;
}
&__text{
    height: 380px;
    width: 1058px;
    margin-left: -1058px;
    margin-top: 522px;
    border-radius: 3px;
    border: 1px solid #ECECEC;
    padding: 15px;
    
    span{
        font-family: 'Quicksand';
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.02em;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        color: #5C5C5C;
    }

    #more {display: none;}
    
    button{
        border: none;
        border-style: none;
        font-family: 'Quicksand';
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.02em;
        text-align: left;
        color:#ED7839;
        background: none;
    }
}
}

.discussion{
    height: 646px;
    max-width: 1058px;
    width: 100%;
    margin-left: 252px;
    margin-top: 500px;
    border-radius: 3px;
    border: 1px solid #ECECEC;
    
    &__topic{
        width: 1058px;
        height: 45px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        color: #4E4E4E;
        padding-left: 10px;
        background: #FDF1EB;
        border: 1px solid #ECECEC;
        border-radius: 3px 3px 0px 0px;
    }
    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 27px;
        margin-bottom: 35px;
        gap: 3em;
    }
    &__submit{
        width: 1027px;
        width: 100%;
        border: 1px solid #E7E7E7;
    }
    &__create{
            display: flex;
            max-width: 1058px;
            width: 100%;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
        p:nth-last-child(1){
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #ED7839;
            margin-top: 15px;
        }
    }
    
    p{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #595959;
        height: 39px;
        width: 626px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    &__submit{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 8px;
        border: none;
    }
        &__button:hover{
            background: none;
            border: none;
        }
    &__card{
        height: 148px;
        width: 1028px;
        margin: 0 auto;
        border-radius: 4px;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
        display: flex;
        align-items: baseline;
        justify-content: left;
        flex-direction: column;
    }
    &__card-header p{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #ED7839;
        display: flex;
        align-items: baseline;
        justify-content: left;
        padding-left: 20px;
        padding-top: 15px;
    }
        &__card-header a{
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #5C5C5C;
            display: flex;
            align-items: baseline;
            justify-content: left;
            padding-left: 20px;
    }
    &__card-text span{
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #4D4D4D;
        display: flex;
        text-align: justify;
        height: 35px;
        width: 980px;
        padding-left: 20px;
        padding-top: 10px;
        
    }
    &__footer{
        line-height: 19px;
        margin-left: 20px;
        flex-direction: row;
        padding-top: 17px;
        display: flex;
        align-items: center;
        gap: 1em;
        
        a{
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 350;
            font-size: 14px;
            color: #757575;
            
        }
        
    }
    &__footer-end{
        margin-top: 50px;
        margin-left: -28px;
    }
}

